body {
    background-color: rgb(106, 77, 77);
    margin: 0;
    padding: 0;
    color: rgb(252, 253, 255);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: rgba(0, 0, 0, 0.781);
    padding: 40px;
    border-radius: 15px;
    width: 250px;
    font-size: 32px;
    text-align: center;
    border: 4px solid rgb(0, 213, 255);
    box-shadow: 30px 30px 17px rgb(95, 83, 83);
}
