body{
     background-color: rgb(135, 146, 205);
    margin: 20px;
    padding: 10px;
}
.banner{
    width: 1523px;
    height: 50vh;
    padding: 5px;
    margin: -29.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./OIP.webp);
    background-size: cover;
    border-radius: 20px;
}
.banner h1{
    font-size: 100px;
    color: antiquewhite;

}
img{
     width: 90vh;
    height: 50vh;
    border-radius: 50px;
    margin-top: 60px;
    padding: 30px;
}
